.colorpickercontainer {
    margin-top: 10px;
}

.colorpickercontainer label {
    margin: 0;
    vertical-align: top;
}

.widgetcheckbox {
    margin: 1px 5px 0 5px;
}

.widgetlabel {
    display: inline;
    margin: 0;
}

.menupagecontainer {
    height: 150px;
    overflow: auto;
    border: 1px solid #dfdfdf;
}

.tt_link {
    color: #0088cc !important;
}

.menupageelement {
    padding: 5px;
}

.check-all {
    margin: 5px 0 0 5px;
}

.uncheck-all {
    margin: 5px 0 0 5px;
}

.width {
    width: 100%;
}